<!DOCTYPE html>
<html lang="pt BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <title>NID</title>

</head>
<body>
  <header>
    <nav class="navbar">
      <a href="#" class="logo">NID</a>

      <ul class="nav-menu">
        <li class="nav-itens"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-itens"><a href="#" class="nav-link">Sobre</a></li>
        <li class="nav-itens"><a href="#" class="nav-link">Projetos</a></li>
        <li class="nav-itens"><a href="#" class="nav-link">Certificados</a></li>
        <li class="nav-itens"><a href="#" class="nav-link">Contato</a></li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>


    </nav>
  </header>
  
</body>
</html>