<section id="contato" data-anime="scroll">
    <div class="container">
        <div class="titulo-contato">
            <h2 class="Contato1">CONTATO</h2>
        </div>
        <div class="box-contact">
            <div class="info-contact">
                <h3>Informações para contato</h3>
                <h4>Ivoneide Silva</h4>
                <address>
                    <div class="email">
                        <img src="/" 
                        alt="Message Ivoneide Silva" 
                        width="20" 
                        height="20">
                        <a href="mailto:neidinidnid@hotmail.com?Subject=Título%20da%20mensagem">
                            neidinidnid@hotmail.com</a> 
                        </div>
                    <div class="anddress">
                        <img src="/" 
                        alt="location Ivoneide Silva" 
                        width="20" 
                        height="20">
                        <span>São Paulo,Sp</span>
                    </div>
                    <time data-semana="1,2,3,4,5" data-horario="8,18">                               
                        <span>Seg à Sex das 8 às 18</span>
                    </time>
                </address>
                
            </div>
            <div class="img-contact">
                <img src="/" 
                alt="Ivoneide Silva" 
                width="300" 
                height="300">
            </div>
        </div>
    </div>
</section>