/*WHATSAPP*/

.whatsapp-ico {
    fill: white;
    width: 70px;
    height: 70px;
    padding: 3px;
    background: linear-gradient(90deg, #d96fa7, #d96fa7);
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.whatsapp-ico:hover {
    box-shadow: 0px 5px 50px 0px #d96fa7 inset, 0px 5px 50px 0px #d96fa7, 0px 5px 50px 0px #d96fa7 inset, 0px 5px 50px 0px #d96fa7;
}

