<section id="sobre" data-anime="scroll">
    <div class="container">
        <div class="titulo-sobre">
            <h2 class="sobre1">SOBRE</h2>
        </div>
        <div class="box-sobre">
            <div class="img-sobre">                    
                <img src="img/card.webp" 
                alt="Alana Barbosa - Laboratório da Alana card" 
                width="507" 
                height="288">
            </div>
            <article class="paragrafo">
                <p>Alana Barbosa, 25 anos, desenvolvedora front end, freelancer, e graduanda em 
                    Análise de Desenvolvimento de Sistemas. Tenho experiência com as tecnologias: HTML, 
                    CSS e JavaScript.</p>
                <p>Entre em contato, vamos tomar um café enquanto você me fala sobre seu projeto ;)</p>
                <a href="https://api.whatsapp.com/send?phone=5519991737267&text=Ol%C3%A1%2C%20gostaria%20de%20pedir%20o%20or%C3%A7amento%20gratuito%20para%20meu%20projeto" 
                target="_blank">Solicitar orçamento</a>
            </article>
        </div>
    </div>
</section>